.Loader {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.75);

  z-index: 1;
}

.Loader__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.Loader__anim h2 {    
  color: #bc69f7;

  font-size: 1.5rem;

  letter-spacing: 5px;

  transform: translateY(-50px);
}

@media (min-width: 676px) {
  .Loader__anim h2 {
    font-size: 2.5rem;
  }
}